In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [112]:
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv')
print(df)

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [113]:
df.describe()

             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

In [114]:
df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [115]:
print(df[df['Currency']=='EUR'])

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [116]:
print(df[['Name', 'Currency']])

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [117]:
print(df[df['BIP']>2000])

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [118]:
print(df[(df['People']>=50000000) & (df['People']<=150000000)])

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [119]:
df = df.rename(columns={'BIP': 'Bip'})
print(df)

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [120]:
df['Bip'].sum()

13581

In [121]:
df['People'].mean()

102786293.6

In [122]:
df.sort_values(by='Name')

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [123]:
df['Area'] = np.where(df['Area']>=1000000,'BIG','SMALL')
print(df)

       Name     People   Area   Bip Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL